
h1{
  color:white;
  background-color: #6155a6;
  /* font-family: 'Fredoka One', cursive; */

  /* align:center; */
  padding-left: 10px;
  padding-bottom: 0;
  margin: 0;
  font-size: 2.8rem;
}
html{
  background-color:
}
.mynav{
  background-color: #6155a6;
}
.img{
  height: 40px;
  width: 40px;
  background-color: #6155a6;
  border-radius: 50%;
}

.head{
  padding-left: 35%;
}
